.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 119px 0 0px;
    color: #265156;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    h1 {
        margin: 0;
        font-weight: 400;
        font-size: 60px;
        padding-bottom: 136px;
    }
    .facts-card {
        display: grid;
        padding-bottom: 247px;
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        gap: 50px;
        padding-left: 50px;
    }
    .product {
        margin-right: auto;
        padding: 134px 165px 243px 129px;
        background: #E5E5E5;
        h1 {
            @extend h1;
            padding-bottom: 24px;
        }
        hr {
            width: 256px;
            margin: 0;
            border: 1px solid #133639;
        }
        .grid-container {
            padding-top: 111px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 455px;
            column-gap: 97px;
            row-gap: 153px;
            width: calc(100vw - 300px);
            .flower {
                background: url('../../Assets/Images/ProductFlower.svg');
                background-position: center;
                background-size: contain;
            }
            figure {
                margin: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .about-company {
                display: block;
                line-height: 33px;
                padding: 70px 0px 20px;
                h3 {
                    margin: 0;
                }
                button {
                    background: #133639;
                    color: #FFFFFF;
                    border-radius: 5px;
                    padding: 14px 26px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .services {
        h1 {
            @extend h1;
            padding: 80px 0 20px;
            font-size: 100px;
            text-align: center;
        }
        hr {
            width: 256px;
            border: 1px solid #133639;
            margin: 0 auto;
            margin-bottom: 92px;
        }
        .service-grid {
            display: grid;
            grid-template-columns: auto auto;
            padding: 0 130px;
            gap: 100px 200px;
            padding-bottom: 158px;
        }
    }
    .team-members {
        background: #E5E5E5;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 380px;
        h1 {
            font-size: 100px;
            padding-bottom: 23px;
        }
        hr {
            margin: 0;
            border: 1px solid #133639;
            width: 256px;
        }
        p {
            padding-top: 50px;
            font-size: 24px;
            line-height: 39px;
            width: 477px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .members-grid {
            padding: 0 136px;
            display: grid;
            gap: 154px 54px;
            width: calc(100vw - 242px);
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
        }
    }
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 72px 0px 147px;
        h1 {
            font-size: 90px;
            padding-bottom: 30px;
        }
        p {
            font-size: 24px;
            line-height: 39px;
            text-align: center;
            width: 612px;
            padding-bottom: 27px;
            color: #868AA7;
        }
        figure {
            margin: 0;
            padding-bottom: 118px;
            svg {
                padding-right: 25px;
            }
        }
        .ceo-review {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    text-align: center;
                    padding: 0;
                    color: #171C54;
                    line-height: 29px;
                    padding-bottom: 32px;
                }
                figure {
                    display: flex;
                    align-items: center;
                    img {
                        display: block;
                    }
                    figcaption {
                        padding-left: 43px;
                        span {
                            display: block;
                            padding-bottom: 5px;
                        }
                        small {
                            color: rgba(23, 28, 84, 0.5);
                        }
                    }
                }
            }
        }
    }
}

.content::-webkit-scrollbar {
    display: none;
}

.service {
    color: #265156;
    h1 {
        @extend h1;
        text-align: left;
        font-size: 35px;
        line-height: 37px;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.03em;
    }
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        font-size: 24px;
        padding-top: 42px;
        padding-bottom: 15px;
    }
    small {
        font-size: 16px;
        padding-bottom: 14px;
        opacity: 0.5;
    }
    .detail {
        padding-top: 0;
        text-align: center;
        line-height: 29px;
    }
    .social-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 43px;
        svg {
            padding-right: 40px;
        }
    }
}