@font-face {
    font-family: "Wisteria Serif";
    src: local("Wisteria"), url("../../fonts/Wisteria/Wisteria.woff") format("woff");
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 119px 0 0px;
    color: #265156;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Wisteria Serif';
    h1 {
        margin: 0;
        font-weight: 400;
        font-size: 64px;
        padding-bottom: 40px;
    }
    hr {
        margin: 0;
        border: 1px solid #133639;
        width: 256px;
    }
    .facts-card {
        display: grid;
        padding: 136px 0px 247px 0px;
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        gap: 50px;
    }
    .product {
        margin-right: auto;
        padding: 134px 165px 243px 129px;
        background: #E5E5E5;
        h1 {
            @extend h1;
            font-size: 100px;
            padding-bottom: 24px;
        }
        hr {
            width: 256px;
            margin: 0;
            border: 1px solid #133639;
        }
        .grid-container {
            padding-top: 111px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 455px;
            column-gap: 97px;
            row-gap: 153px;
            width: calc(100vw - 300px);
            .flower {
                background: url('../../Assets/Images/ProductFlower.svg');
                background-position: center;
                background-size: contain;
            }
            figure {
                margin: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .about-company {
                display: block;
                line-height: 33px;
                padding: 70px 0px 20px;
                h3 {
                    margin: 0;
                    font-size: 20px;
                }
                button {
                    background: #133639;
                    color: #FFFFFF;
                    border-radius: 5px;
                    padding: 10px 16px 5px;
                    border: none;
                    outline: none;
                    width: 147px;
                    span {
                        font-size: 24px;
                        line-height: 34px;
                        font-family: 'Wisteria Serif';
                    }
                }
            }
        }
        .grid-container-2 {
            @extend .grid-container;
        }
    }
    .services {
        h1 {
            @extend h1;
            padding: 80px 0 20px;
            font-size: 100px;
            text-align: center;
        }
        hr {
            width: 256px;
            border: 1px solid #133639;
            margin: 0 auto;
            margin-bottom: 92px;
        }
        .service-grid {
            display: grid;
            grid-template-columns: auto auto;
            padding: 0 130px;
            gap: 100px 200px;
            padding-bottom: 158px;
        }
    }
    .gallery {
        display: flex;
        flex-direction: column;
        background: #E5E5E5;
        width: 100vw;
        padding: 198px 0px 0px 0px;
        h1 {
            font-size: 100px;
            padding-bottom: 23px;
            padding-left: 140px;
        }
        hr {
            border: 1px solid #133639;
            width: 256px;
            margin: 0 0 75px 150px;
        }
        .flowers-container {
            position: relative;
            .icon-prev {
                position: absolute;
                top: 170px;
                left: 25px;
                cursor: pointer;
            }
            .section-one {
                display: grid;
                grid-auto-flow: column;
                gap: 27px;
                overflow: hidden;
                -ms-overflow-style: none;
                scrollbar-width: none;
                overscroll-behavior-inline: contain;
                padding: 0px;
                .slider-child {
                    border-radius: 13px;
                    width: 512px;
                    height: 422px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    img {
                        width: 100%;
                    }
                }
            }
            .section-one::-webkit-scrollbar {
                display: none;
            }
            .section-two {
                @extend .section-one;
                padding-top: 40px;
            }
            .icon-next {
                position: absolute;
                top: 220px;
                right: 25px;
                cursor: pointer;
            }
        }
    }
    .team-members {
        background: #E5E5E5;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 380px;
        padding-top: 322px;
        h1 {
            font-size: 100px;
            padding-bottom: 23px;
        }
        hr {
            margin: 0;
            border: 1px solid #133639;
            width: 256px;
        }
        p {
            padding-top: 50px;
            font-size: 24px;
            line-height: 39px;
            width: 477px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .mobile-grid {
            display: none;
        }
        .members-grid {
            padding: 0 136px;
            display: grid;
            gap: 154px 54px;
            width: calc(100vw - 242px);
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
        }
    }
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 72px 0px 147px;
        h1 {
            font-size: 90px;
            padding-bottom: 30px;
        }
        p {
            font-size: 24px;
            line-height: 39px;
            text-align: center;
            width: 612px;
            padding-bottom: 27px;
            color: #868AA7;
        }
        figure {
            margin: 0;
            padding-bottom: 118px;
            svg {
                padding-right: 25px;
            }
        }
        .ceo-review {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100vw;
            .arrow-left {
                padding-left: 196px;
            }
            .arrow-right {
                padding-right: 196px;
            }
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    text-align: center;
                    padding: 0;
                    color: #171C54;
                    line-height: 29px;
                    padding-bottom: 32px;
                }
                figure {
                    display: flex;
                    align-items: center;
                    img {
                        display: block;
                    }
                    figcaption {
                        padding-left: 43px;
                        span {
                            display: block;
                            padding-bottom: 5px;
                        }
                        small {
                            color: rgba(23, 28, 84, 0.5);
                        }
                    }
                }
            }
        }
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 0px 147px;
    h1 {
        font-size: 90px;
        padding-bottom: 30px;
    }
    p {
        font-size: 24px;
        line-height: 39px;
        text-align: center;
        width: 612px;
        padding-bottom: 27px;
        color: #868AA7;
    }
    figure {
        margin: 0;
        padding-bottom: 118px;
        svg {
            padding-right: 25px;
        }
    }
    .ceo-review {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        .arrow-left {
            padding-left: 196px;
        }
        .arrow-right {
            padding-right: 196px;
        }
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                text-align: center;
                padding: 0;
                color: #171C54;
                line-height: 29px;
                padding-bottom: 32px;
            }
            figure {
                display: flex;
                align-items: center;
                img {
                    display: block;
                }
                figcaption {
                    padding-left: 43px;
                    span {
                        display: block;
                        padding-bottom: 5px;
                    }
                    small {
                        color: rgba(23, 28, 84, 0.5);
                    }
                }
            }
        }
    }
}

.content::-webkit-scrollbar {
    display: none;
}

.service {
    color: #265156;
    h1 {
        @extend h1;
        text-align: left;
        font-size: 35px;
        line-height: 37px;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.03em;
    }
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        font-size: 24px;
        padding-top: 42px;
        padding-bottom: 15px;
    }
    small {
        font-size: 16px;
        padding-bottom: 14px;
        opacity: 0.5;
    }
    .detail {
        padding-top: 0;
        text-align: center;
        line-height: 29px;
    }
    .social-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 43px;
        svg {
            padding-right: 40px;
        }
    }
}

@media screen and (max-width: 678px) {
    .content {
        padding: 58px 30px 119px 30px;
        h1 {
            font-size: 30px;
            line-height: 43px;
        }
        hr {
            width: 103px;
        }
        .facts-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 59px 0px 120px 0px;
        }
        .product {
            margin: 0;
            padding: 90px 37px 173px 37px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 40px;
                line-height: 42px;
            }
            hr {
                margin: 0;
                width: 103px;
            }
            .grid-container {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                width: 100%;
                gap: 36px;
                padding-top: 63px;
                figure {
                    margin: 0;
                    img {
                        margin: 0;
                        width: 100%;
                    }
                }
                .about-company {
                    padding: 0;
                    text-align: center;
                    h3 {
                        padding-bottom: 10px;
                    }
                    p {
                        padding-bottom: 22px;
                    }
                }
            }
            .grid-container-2 {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding-top: 63px;
                .about-company {
                    padding-top: 34px;
                }
            }
        }
        .services {
            h1 {
                font-size: 40px;
                line-height: 43px;
                padding: 75px 0px 22px;
            }
            hr {
                width: 103px;
                margin-bottom: 54px;
            }
            .service-grid {
                grid-template-columns: auto;
                padding: 0 20px 78px;
                gap: 75px;
            }
        }
        .gallery {
            justify-content: center;
            align-items: center;
            padding: 112px 0px 0px;
            h1 {
                font-size: 40px;
                padding: 0 0 22px;
            }
            hr {
                width: 103px;
                margin: 0 0 79px 0;
            }
            .flowers-container {
                .icon-prev {
                    left: 90px;
                    top: 50px;
                    width: 50px;
                    height: 50px;
                }
                .icon-next {
                    right: 90px;
                    width: 50px;
                    height: 50px;
                    top: 85px;
                }
                .section-one {
                    gap: 9px;
                    .slider-child {
                        width: 163px;
                        height: 141px;
                        border-radius: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
        .team-members {
            width: 100vw;
            padding: 260px 0px 238px;
            h1 {
                font-size: 45px;
                line-height: 48px;
                padding-bottom: 20px;
            }
            hr {
                width: 103px;
            }
            p {
                padding-top: 20px;
                width: 305px;
            }
            .mobile-grid {
                padding: 0 37px;
                width: 100vw;
                display: grid;
                grid-auto-flow: row;
                gap: 50px;
                .mobile-members-grid {
                    display: grid;
                    gap: 50px;
                }
            }
            .members-grid {
                display: none;
            }
        }
        .reviews {
            padding: 67px 18px 0px;
            h1 {
                font-size: 40px;
                padding-bottom: 36px;
            }
            p {
                font-size: 16px;
                width: 273px;
                line-height: 26px;
            }
            .ceo-review {
                .arrow-left {
                    padding-left: 18px;
                }
                .arrow-right {
                    padding-right: 18px;
                }
                article {
                    p {
                        font-size: 14px;
                        line-height: 23px;
                        padding-bottom: 0;
                    }
                    figure {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                        figcaption {
                            padding-left: 15px;
                            span {
                                font-size: 14px;
                            }
                            small {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .service {
        svg {
            width: 54px;
            height: 54px;
        }
        h1 {
            padding-top: 23px;
            font-size: 26px;
            line-height: 29px;
        }
        p {
            font-size: 15px;
            line-height: 23px;
            margin: 0;
        }
    }
    .team-member {
        img {
            border-radius: 50%;
            margin: auto;
        }
        .detail {
            padding: 0 37px;
        }
    }
}

@media screen and (min-width: 679px) and (max-width: 1100px) {
    .content {
        h1 {
            font-size: 55px;
        }
        .facts-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 136px 0px 247px 0px;
        }
        .product {
            h1 {
                font-size: 70px;
            }
        }
        .services {
            h1 {
                font-size: 70px;
            }
            hr {
                width: 170px;
            }
        }
        .gallery {
            padding-top: 130px;
            h1 {
                font-size: 70px;
            }
            hr {
                width: 170px;
            }
        }
        .team-members {
            padding-top: 200px;
            h1 {
                font-size: 70px;
            }
            hr {
                width: 170px;
            }
        }
        .reviews {
            h1 {
                font-size: 70px;
            }
            .ceo-review {
                .arrow-left {
                    padding-left: 56px;
                }
                .arrow-right {
                    padding-right: 56px;
                }
            }
        }
    }
}