@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@font-face {
    font-family: "Circular Std";
    src: local("Circular"), url("../../fonts/Circular/circular-std-medium-500.ttf") format("woff");
    font-weight: 400;
}

.footer-section {
    background: #192023;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 74px 0px;
    span {
        font-family: 'ABeeZee';
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 12px;
    }
    small {
        font-family: 'Circular Std';
        font-weight: 450;
        font-size: 13px;
        line-height: 16px;
        padding-bottom: 64px;
    }
}